@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');
* {
  font-family: 'Inter Tight', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 60%;
    margin: 10em auto 0;
  }

  #todoForm {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  #todoForm * {
    margin: 7px;
    padding: 7px;
    font-size: 1rem;
    width: 20em;
  }
  
  #todoForm .btn {
    cursor: pointer;
  }
  
  #todoForm input {
    border: 3px solid #3c3c3d;
    outline: none;
  }
  
  .tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid rgb(255, 255, 255);
    background-color: #e6e6e6;
  }
  
  .tasks li * {
    margin: 5px;
  }
  .indTask{
    width: 100%;
    padding: 10px;
    text-align: center;
    list-style: none;
  }
  .indTask span{
    position: absolute;
    margin-left: 13em;
    border: 2px solid;
    background-color: rgba(240, 40, 40, 0.892);
    width: 22px;
    margin-right: 21px;
    color: rgb(0, 0, 0);
  }

  