* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  main {
    width: 80%;
    margin: 15px auto 0;
  }

  #todoForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  #todoForm * {
    margin: 7px;
    padding: 7px;
    font-size: 1rem;
  }
  
  #todoForm .btn {
    cursor: pointer;
  }
  
  #todoForm input {
    border: 3px solid #6495ed;
    outline: none;
  }
  
  .tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid gray;
    background-color: #ebebeb;
    color: #2f2f2f;
    border-radius: 15px;
  }
  
  .tasks div {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  
  .tasks div * {
    margin: 5px;
  }