@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
* {
  box-sizing: border-box;
  
}
body {
  background-color: #e4f8ee;
  color: #0f141e;
  font-weight: bolder;
  font-size: large;
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  background: url("vegetables-set-left-black-slate.jpg") no-repeat fixed center center/cover;
  height: 20%;
  position: relative;
}
.container {
  background: #9da7af; /* fallback for old browsers */
  display: block;
  justify-content: center;
  width: 35%;
}
.chosen-size-res {
  text-decoration-thickness: 3px;
}
.radios-cont {
  padding: 10%;
  
}
.toppings-cont {
  padding: 10%;
}
.delivery-cont {
  padding: 10%;
}
.button-cont {
  padding-left: 5%;
  margin-bottom: 5%;
  justify-content: center;
}
.btn {
  margin-bottom: 2%;
  margin-left: 15%;
  padding: 7px 30px;
  font-family: inherit;
  font-weight: inherit;
  border: 2px solid;
  border-radius: 4px;
  border-color: #0f141e;
  cursor: pointer;
  transition: all 0.1s;
  background: #f4f6f5;
}
.btn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.3em);
  cursor: pointer;
}
