@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(to right, #ffaaaa, #734c8f);
  font-family: "Montserrat", sans-serif;
}
.input-color {
  width: 70px;
  height: 40px;
  border: none;
  padding: 0;
}
.radios input[type="radio"] {
  visibility: hidden;
}
.radios label {
  cursor: pointer;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  border: 2px solid;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

.radios input[type="radio"]:checked + label {
  color: rgba(0, 0, 0, 0.54);
}
.emptyboi {
  padding: 4px;
  margin: 1em;
}
.container {
  background-color: azure;
  width: 25vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.color-pickers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

table {
  display: flex;
  justify-content: center;
  margin-right: 14px;
}
td {
  margin-top: 5px;
  margin-bottom: 5px;
}
.first-row {
  display: flex;
  flex-direction: row;
}
.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.third-row {
  display: flex;
  flex-direction: row;
}
.CSSoutput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
